body {
    background-color: rgb(255, 255, 255);
}

.list_main,
.list_main .webix_list_item,
.list_main .webix_list_item:hover {
    border: none;
}

.template_connected {
    text-align: center;
    font-size: 16px;
    color: rgb(45, 167, 14);
    border: none;
}

.template_footer {
    text-align: center;
}
